Coursera Jupyter Notebook Assignment

Hello, My name is Sachin Acharya. I am eager to learn more about how things work.

Data Science Languages:
Python
R
SQL
Julia
Scala

Data Science Libraries: 
Pandas
Numpy
Matplotlib
Seaborn

Data Science Tools: 
Jupyter Notebook
Google Colab

Arithmetic expressions involve mathematical operations such as addition (+), subtraction (-), multiplication (*), and division (/). Below are some examples:
- Addition: 2 + 3 = 5
- Subtraction: 7 - 4 = 3
- Multiplication: 5 * 6 = 30
- Division: 10 / 2 = 5

In [6]:
a = 1
b = 2
print(a * b)
print(a + b)

2
3

In [9]:
min = 123.00
hour = min // 60
print(hour)

2.0

### Objectives  
- Learn about Data Science tools and their applications.  
- Understand arithmetic expressions in Python.  
- Perform basic mathematical operations using code cells.  
- Convert time units using Python.  
- Share and document work using GitHub and Jupyter Notebook.

### Author  
**Sachin Acharya**

In [10]:
git init

SyntaxError: invalid syntax (2830201818.py, line 1)